:root {
    --main-font: 'Roboto', sans-serif; 
    --secondary-font:'Raleway', sans-serif;
    --accent-color: #2196F3; 
    --secondary-color: #212121;
    --hero-background-color: #2F303A;
    --text-color: #757575;
    --text-decoration-color: #FFFFFF;
    --hero-button-color: #ECECEC;
   }
   
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   li{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

   img{
    display: block;
 }
   
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
 }

.flex{
    display: flex;
    align-items: baseline;
    /*flex-wrap: wrap;*/
}
   /*------Шрифты--------*/
body{
    font-family: var(--main-font);
}

.list {
    list-style: none;
}
   
.link {
    text-decoration: none;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
   
   /*=====================Header===================================*/
 
.header{
    width: 100%;
    border-bottom: 1px solid var(--hero-button-color);
    background: var(--text-decoration-color);
    padding-top: 24px;
    padding-bottom: 25px;
}
   
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

   /*---------Логотип-- WebStudio-----------------*/
.logo-link{
   font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--secondary-color); 
   display: inline-block;
   margin-right: 70px;
}
   
.logo-item {
   color: var(--accent-color);
}

.item{
    position: relative;
    color: var(--accent-color);
}
.item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 77px;
    left: 0px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
 /*Навигационный лист*/
      
.nav{
    display: flex;
    align-items: center;
}
  
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: auto;
}
.nav-item:not(:last-child){
    margin-right: 50px;
}

.nav-link.item{
    color: var(--accent-color);
}

.nav-link{
   padding-top: 32px;
   padding-bottom: 32px;
   font-family: inherit;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--secondary-color);
   transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
   
   /*Придаем ссылкам элемент hover и focus */
   .nav-link:hover,
   .nav-link:focus{
   color: var(--accent-color);
   }


.current{
    color: var(--secondary-color);
}

   /*Контакты заголовка*/
.contact-list{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.02em;
   color: var(--text-color);
   display: flex;
   align-items: center;
   margin-left: 50px;
   transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*.contact-link{
    color: var(--text-color);
}*/

.contact-item:not(:last-child){
    margin-right: 50px;
    justify-content: space-between;
}

.contact-item{
    display: inline;
}
      
.contact-link:hover,
.contact-link:focus{
   color: var(--accent-color);
}
.contact-link-envelope{
    display: inline-block;
    width: 16px;
    height: 12px;
    /*fill:var(--text-color);*/
    margin-right: 10px;
    cursor: pointer;
    fill: currentcolor;
}

.contact-link-phone{
    width: 10px;
    height: 16px;
    fill: currentcolor;
    cursor: pointer;
    margin-right: 10px;


    

}
   /*====================The end header======================*/
   
   /*-----------------------HERO----------------------*/
/*добавление фона---*/
/*.overlay{
    height: 600px;
   /* left: 0px;
    top: 80px;*/
  /* background: #C4C4C4;
    /*background-image: url(../images/icons/imgheader.jpg);*/
   /* background-repeat: no-repeat;
    /*background-position: center;*/
   
    /* background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/icons/Imgheader.jpg);
    background-size: cover;
}*/


   /*Эффективные решения для вашего бизнеса*/
   .hero{
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:var(--hero-background-color);
    margin: 0 auto;

    height: 600px;
    background: #C4C4C4;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/icons/Imgheader.jpg);
    background-size: cover;
   }

   .section-box{
    display: flex;
   }

.hero .container{
    text-align: center;
   }

   .hero-title{
   font-family: inherit;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   color:var(--text-decoration-color);
   margin: 0 auto 30px;
   max-width: 696px;
   }

   /*Кнопка заказать услугу*/
.hero-modal-btn{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--text-decoration-color);
    background:var(--accent-color);
    cursor: pointer;
    display: inline-block;
    padding: 10px 32px;
    transition-property: background-color, box-shadow;
    transition-duration: 1150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
   
.modal-btn:hover,
.modal-btn:focus{
   fill:var(--accent-color);
   /*background: var(--accent-color);*/
}
   
   /*-----------Description--------------------*/
  
   /*Особенности*/
.desc{
padding-top: 94px;
padding-bottom: 47px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.desc-list{
    display: flex;
    padding-bottom: 0;
    margin-left: -30px;
    margin-top: -30px;
}

.desc-list-item{
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 0; 
}

.desc-list-title{
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--secondary-color);
   margin-bottom: 10px;
   display: block;
}
   
.desc-list-suptitle{
   font-family: inherit;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--text-color);
}
  
.desc-list-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
   background: #F5F4FA;
}
.desc-item-suptitle{
    display: block;
}
/*-----------Gallery-------------------*/
.picture{
    text-align: center;
    padding-top: 47px;
    padding-bottom: 94px;
}
.picture-list-gallery{
   /* display: flex;
    flex-wrap: wrap;*/
    align-items: flex-start;
    margin-left: -30px;
}
.picture-title{
   font-family:inherit;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   color: var(--secondary-color);
   margin-bottom: 50px;
   }

.picture-list-item{
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    width: calc((100% - 90px) / 3);
}

.picture-title-p{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding:27px 82px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--text-decoration-color);
    background-color: rgba(47, 48, 58, 0.8);
}

   /*----------------TEAM---------------*/
   .team{
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    background-color: #F5F4FA;
}

.team-img-list{
    display: flex;
    align-items: flex-start;
    margin-left: -30px;
    margin-top: -30px;
}

.team-img-list-item{
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
    background: var(--text-decoration-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title{
    font-family:inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    background: #F5F4FA;
    margin-bottom: 50px;
}

.team-title-list-name{
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.03em;
   color:var(--secondary-color);
   margin-bottom: 10px;
}
   
.team-title-list-desc {
   font-family:inherit;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.03em;
   color: var(--text-color);
   margin-bottom: 16px;
}

.team-img-list-content{
    padding: 30px;
}
.social-list{
    align-items: center;
    display: flex;
}
.social-list-item:not(:last-child){
    margin-right: 10px;
}
.social-list-icon{
    width: 20px;
    height: 20px;
}
.social-list-link:hover,
.social-list-link:focus{
    background: var(--accent-color);
    fill: var(--text-decoration-color);
}

/*.social-list-item{
border-radius: 50%;
}*/
.social-list-link{
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
background-color: transparent;
 fill: #afb1b8;
 border-radius: 50%;
 transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
   /*------------End Hero----------------*/
  /*-------------Постоянные клиенты---------------*/
 .client-section{
    background-color: var(--text-decoration-color);
 }
 
  .client-title{
font-family:inherit;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-color);
margin-bottom: 50px;
}

  .client-logo-item{
width: 106px;
height: 60px;
}

.client-list{
display: flex;
}

.client-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition-property: fill, border-color;
    transition-duration: 1250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover,
.client-logo:focus{
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.client-item{
    display: block;
}

.client-item:not(:last-child){
 margin-right: 30px;
}



   /*-----------------Footer---------*/
.footer{
   background: #2F303A;
   padding-top: 60px;
   padding-bottom: 60px;
  /* align-items: baseline;*/
 }

.logo-link-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-item-link{
   color:var(--text-decoration-color);
}
   
.address{
   font-family: inherit;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   color:var(--text-decoration-color);
   letter-spacing: 0.03em;
   margin-top: 20px;
 }

.address-item{
    margin-bottom: 9px;
    display: inline-block;
}
.address-item:not(:last-child){
    margin-bottom: 0;
}

.address-link{
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--text-decoration-color);
}

.address-contact-link{
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contact-link:hover,
.address-contact-link:focus{
    color: var(--accent-color);
}

.footer-title{
margin-bottom: 20px;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.03em;
color:var(--text-decoration-color);
text-transform: uppercase;
}

.footer-list{
    /*justify-content: center;*/
    align-items: center;
    margin-left: 73px;
   /* background: rgba(255, 255, 255, 0.1);*/
    /*fill: var( --text-decoration-color);*/
}


.footer-social-item:not(:last-child){
margin-right: 10px;
}

.footer-social-icon{
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
/*fill: #afb1b8;*/
 border-radius: 50%;
 fill: var(--text-decoration-color);
 background: rgba(255, 255, 255, 0.1);
 /*background-color: transparent;*/
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon:hover,
.footer-social-icon:focus{
   /* fill: var(--text-decoration-color);*/
background: var(--accent-color);
}

.footer-social-item-icon{
    width: 20px;
    height: 20px;
}

.footer-address{
    max-width: 240px;
}
.address-link{
    font-style: normal;
    color: var(--text-decoration-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus{
    color: var(--accent-color);
}

.footer-social-list{
    border-radius:50%;
}
   /*==================Footer=================*/
   

   /*----------------Portfolio-------------*/
   /*Кнопки*/
.current-item{
    position: relative;
    color: var(--accent-color);
}

.current-item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 77px;
    left: 0px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.main{
    padding-top: 94px;
    padding-bottom: 94px;
}

.button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color:var(--secondary-color);
    background-color: #f5f4fa;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border: transparent;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 22px;
    padding-right: 22px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    color:var(--text-decoration-color);
    background:var(--accent-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
}
 
.current-item{
color:var(--accent-color);
}
   
.main-buttons{
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: -8px;
    margin-left: -8px;
}

.main-button{
margin-top: 8px;
margin-left: 8px;
}

.portfolio-section{
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -30px;
    margin-left: -30px; 
}

/*.picture-list{
    width: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
}*/

.picture-item{
    margin-top: 30px;
    margin-left: 30px;
}

.picture-item:hover,
.picture-item:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.picture-list{
/*width: calc((100% - 90px) / 3);*/
display: block;
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.picture-content{
    padding: 20px 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
  
.desc-item-title{
   font-family: inherit;
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color:var(--secondary-color);
   margin-bottom: 4px;
}

.desc-item-suptitle{
   font-family: inherit;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.03em;
   color: var(--text-color);
}

.picture-list-wrapper{
    position: relative;
    overflow: hidden;
}
.overlay-portfolio{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 63px 24px;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    overflow: auto;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    /* or 156% */

    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transform: translateY(100%);
   /* transition: transform 250ms linear;*/

}

.picture-list:hover .overlay-portfolio,
.picture-list:focus .overlay-portfolio{
transform: translateY(0%);
}

.hidden-title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-button:hover,
.main-button:focus{
    color: var(--text-color-white);
    background-color: var(--button-active-bcgr-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
}

   /*=========================End=================*/
   /*------------Модальное окно----------------*/
   .is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
   }

   .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }

  .modal{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 528px;
    height: 580px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
}  
.modal-icon{
    width: 18px;
    height: 18px;
}

.modal-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal-form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
/* identical to box height */

letter-spacing: 0.01em;
color:var(--secondary-color);
}

.modal-form-text{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--secondary-color);
    margin-bottom: 12px;
}
.modal-form-field{
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 4px;
}

.input-modal{
position: relative;
margin-bottom: 10px;
}

.input-modal-text{
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 42px;
    padding-bottom: 12px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    color: var(--secondary-color);
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal-text:hover{
    border-color: var(--accent-color);

}


.modal-form-icon{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal-textarea{
padding: 12px 16px;
margin-bottom: 20px;
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.15;
letter-spacing: 0.01em;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
outline: none;
color: var(--secondary-color);
resize: none;
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal-textarea:focus{
    border-color:var(--accent-color);
}

.modal-agree-terms{
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-bottom: 30px;
   
}

.modal-form-checkbox{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.modal-form-checkbox + label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.modal-form-checkbox + .input-modal-text:focus{
border-color: var(--accent-color);
}

.input-modal-text:focus + .modal-form-icon{
fill: var(--accent-color);
}

.text-policy{
color: var(--text-color);
}

/*.modal-form-checkbox-policy{
    color: var( --text-color);
}*/

.modal-form-checkbox + label::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #FFFFFF;
    margin-right: 8px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
    transition-property: border-color, background-image, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:focus:not(checked) + label:before{
border-color: var(--accent-color);
}

.modal-form-checkbox:checked + label:before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("../images/check.svg");
    background-size: contain;
}

.modal-form-checkbox:disabled + label:before{
    background-color: #e9ecef;
}



/*.modal-form-checkbox:checked + .modal-form-checkbox-policy:before{
    background-image: url("../images/check.svg");
}*/


.modal-form-checkbox-policy-link{
    text-decoration-line: underline;
    color: var(--accent-color);
    padding-left: 8px;
}


/*********стили при наведении курсора на чекбокс-policy****/
/*.modal-form-checkbox:not(:disabled):not(checked) + label:hover {
    border-color: #b3d7ff;
}*/

/*****стили для активного состояния чекбокса (при нажатии на него )****/
/*.modal-form-checkbox:not(:disabled):active + label::before{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}*/

/*********стили чекбокса, находящегося в фокусе и не находящегося в состоянии checked*/

/*.modal-form-checkbox:focus:not(:checked) + label::before{
    border-color: #80bdff;
}*/

/****стили чекбокса, находящегося в состоянии disabled*/
/*.modal-form-checkbox:disabled + label::before {
    background-color: #e9ecef;
}*/


.modal-btn-send{
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 187% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--accent-color);
padding: 10px 56px;
align-self: center;
cursor: pointer;
box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-color: transparent;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus{
    background-color:  #188CE8;
}

.checkbox-policy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/*
.input-modal-text:required:focus:valid{
    border-color: green;
}
.input-modal-text:required:focus:invalid{
    border-color: red;
}*/

.footer-subscription-form{
    display: flex;
    margin-left: 93px;
}
.footer-email-form{
    display: block;
}

.footer-subscription-text{
font-weight: 700;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-decoration-color);
display: block;
}

.footer-subscription-email{
    width: 358px;
    margin-top: 20px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color:var(--text-decoration-color);
}
.button-subscription{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--text-decoration-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    margin-left: 12px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 1250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscription:hover,
.button-subscription:focus{
    background-color: #188CE8;
}

.icon-subscription{
    margin-left: 10px;
    width: 24px;
    height: 24px;
}