.portfolio-section {
flex-wrap: wrap;
align-items: flex-start;
margin-top: -30px;
margin-left: -30px; 
}

.picture-item {
    margin-top: 30px;
    margin-left: 30px;
}

.picture-item:hover,
.picture-item:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.picture-list {
/*width: calc((100% - 90px) / 3);*/
display: block;
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-content {
padding: 20px 20px;
padding-left: 24px;
padding-right: 24px;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
}
.picture-list-wrapper {
    position: relative;
    overflow: hidden;
}
